.iffy-simpleListMenu{
  position: absolute;
  top: 10px;
  background: #fff;
  box-sizing: border-box;

  .iffy-menu__item{
    color: #000000;
    font-size: 15px;
    border-radius: 10px;
    line-height: 20px;
    margin-right: 10px;
    letter-spacing: -0.2px;
    font-weight: 600;
    padding: 5px 10px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
  }

  .iffy-menu__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }
}

.iffy-open-menu{
  box-shadow: 0px 13.53px 27.0601px rgba(223, 226, 231, 0.6);
  border-radius: 12.6844px;
  box-sizing: border-box;
}


